@model IEnumerable<TestExcel.Models.Section_Subject>
@{
    ViewBag.Title = "ClSchedule";
    string[] date = { "M", "T", "W", "H", "F", "S" };
    Layout = "~/Views/Shared/_TimeScheduleLayout.cshtml";
}
<div class="w3-row w3-center fontup">
    @Html.ActionLink("คณะ/สาขา", "Index", "TimeSchedule", new { style = "color:blue;font-size:20px" }) ||
    @Html.ActionLink("อาคาร/ห้องเรียน", "ClSchedule", "TimeSchedule", new { style = "color:blue;font-size:20px" })  ||
    @Html.ActionLink("ครูผู้สอน", "TeSchedule", "TimeSchedule", new { style = "color:blue;font-size:20px" })
</div>

@using (Html.BeginForm("ClSchedule", "TimeSchedule", FormMethod.Post, new { id = "BUILDING_FORM", name = "BUILDING_FORM" }))
{
    <div class="w3-row">
        <div class="w3-col m1 l1" style="margin-right:50px">
            <select id="DDL_BUILDING" name="DDL_BUILDING" style="width:100px">
                <option value="63">63</option>
                <option value="62">62</option>
                <option value="65">65</option>
                <option value="42">42</option>
                <option value="69">69</option>
                <option value="64">64</option>
            </select>
        </div>
        <div class="w3-col m2 l2">
            @Html.DropDownList("DDL_CLASSROOM", (SelectList)ViewBag.ddl_Classroom, new { style = "width:130px" })
        </div>
    </div>

}
<br>