@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TimeScheduleLayout.cshtml";
}

<h2>Index</h2>
<span>Excel File </span><input type="file" name="excelfile" />
<a class="w3-btn w3-green" href="@Url.Action("Export","ExportExcel")">Export Excel</a>