
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TimeScheduleLayout.cshtml";
}
<style>

    .image-preview-input {
        position: relative;
        overflow: hidden;
        margin: 0px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .image-preview-input input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .image-preview-input-title {
        margin-left: 2px;
    }
</style>
<script>
    $(document).on('click', '#close-preview', function(){ 
    $('.image-preview').popover('hide');
    // Hover befor close the preview
    $('.image-preview').hover(
        function () {
           $('.image-preview').popover('show');
        }, 
         function () {
           $('.image-preview').popover('hide');
        }
    );    
});

$(function() {
    // Create the close button
    var closebtn = $('<button/>', {
        type:"button",
        text: 'x',
        id: 'close-preview',
        style: 'font-size: initial;',
    });
    closebtn.attr("class","close pull-right");

    // Clear event
    $('.image-preview-clear').click(function(){
        $('.image-preview-filename').val("");
        $('.image-preview-clear').hide();
        $('.image-preview-input input:file').val("");
        $(".image-preview-input-title").text("Browse"); 
    }); 
    $(".image-preview-input input:file").change(function (){     
        var file = this.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            $(".image-preview-clear").show();
            $(".image-preview-filename").val(file.name);            
        }        
        reader.readAsDataURL(file);
    });  
});
    </script>
<div class="container" style="padding-top:60px">
    <div class="w3-row">
        <div class="w3-third">
            <div class="w3-container">
                <div class="w3-card-4">
                    <header class="w3-container w3-blue">
                        <h2 class="w3-center">Import/Export Excel</h2>
                    </header>

                    <div class="w3-container">
                        <h3 class="w3-center">Import</h3>
                        <hr>
                        @using (Html.BeginForm("Import", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.Raw(ViewBag.Error)
                            <div class="input-group image-preview">
                                <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                <span class="input-group-btn">
                                    <!-- image-preview-clear button -->
                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                        <span class="glyphicon glyphicon-remove"></span> Clear
                                    </button>
                                    <!-- image-preview-input -->
                                    <span class="btn btn-default image-preview-input">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                        <span class="image-preview-input-title">Browse</span>
                                        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="excelfile" />
                                    </span>
                                </span>
                            </div>
                            <br />
                            <div class="w3-center">
                                <input type="submit" value="UPLOAD" class="w3-btn w3-green w3-margin-bottom">
                            </div>
                        }
                        <hr>
                        <h3 class="w3-center">Export</h3>
                        <hr>
                        <div class="w3-center">
                            <a class="w3-btn w3-green w3-margin-bottom" href="@Url.Action("Export","ExportExcel")">DOWNLOAD</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-container">
                <div class="w3-card-4">
                    <header class="w3-container w3-blue">
                        <h1>PDF สาขาวิชา</h1>
                    </header>

                    <div class="w3-container">
                        
                    </div>

                </div>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-container">
                <div class="w3-card-4">
                    <header class="w3-container w3-blue">
                        <h1>PDF อาคารเรียน</h1>
                    </header>

                    <div class="w3-container">
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>