
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <div>
        <input type="submit" id="btnDownloadResume" value="Download">
    </div>
</div>

<script type="text/javascript">

        $("#btnDownloadResume").click(function()
        {
            window.location.href = "handlername?method=getpdf";
        })
</script>  